@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #0c0b0b;
  --navbar-background: #ffffff;
  --link-color: #000000;
  --link-hover-gradient: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  --button-background: #f50606;
  --button-text-color: #ecdcdc;
  --button-hover-background: #ffdb98;
  --button-hover-text-color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #eeeeee;
  border-radius: 40px;
  margin: 20px auto;
  max-width: 1200px;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.navbar-links a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.7s ease-out;
}

.navbar-links a:hover {
  background: var(--link-hover-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
}

.navbar-logo {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-links a:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
}

.btn-login {
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  color: #eeeeee;
  background: #000000;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  color: black;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  animation: scroll 10s linear infinite;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }
  .navbar-links {
    flex-direction: column;
    gap: 1rem;
  }
}
